# ASSIGNMENT-1 WEB SCRAPING |Intern Name - Sudhanshu Kumar Singh

In [ ]:
1.Write a python program to display all the header tags from wikipedia.org and make data frame

In [38]:
pip install beautifulsoup4 pandas

Requirement already satisfied: beautifulsoup4 in c:\users\sudhanshu\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: pandas in c:\users\sudhanshu\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\sudhanshu\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\sudhanshu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
#importing the required libraries 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [40]:
url='https://en.wikipedia.org/wiki/Main_Page'

In [41]:
response=requests.get(url)

In [42]:
response

In [43]:
soup=BeautifulSoup(response.content)
#soup

In [44]:
#Etract header tags
header_tags=soup.find(['h1'])
#header_tags

In [45]:
#Find the all header tags (h1 to h6)
header_tags=soup.find_all(["h1","h2","h3","h4","h5","h6"])

In [46]:
#Extract the text content of the header tags
header_tags = [tag.get_text() for tag in header_tags]

In [47]:
# Making a dataframe from the header texts
df = pd.DataFrame({"Headers": header_tags})
df

                         Headers
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [1]:
#importing the required libraries 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://presidentofindia.nic.in/former-presidents.htm"

In [3]:
page=requests.get(url)

In [4]:
page

In [5]:
soup=BeautifulSoup(page.content)
#soup

In [6]:
former_president=soup.find_all('div',class_="presidentListing")

In [9]:
Name=[]
for i in soup.find_all('h3'):
    Name.append(i.get_text(strip=True).split('(')[0])

In [11]:
#Name

In [12]:
print(len(Name))

14

In [14]:
Term=[]
for i in soup.find_all('p'):
    Term.append(i.get_text(strip=True))

In [15]:
#Term

In [16]:
Term.pop(1) # using pop to remove extra data and equlising to lenght

'https://ramnathkovind.nic.in'

In [17]:
Term.pop(2)

'http://pranabmukherjee.nic.in'

In [18]:
Term.pop(3)

'http://pratibhapatil.nic.in'

In [19]:
Term.pop(4)

'http://abdulkalam.nic.in'

In [20]:
Term.pop(14)

'Copyright © 2022 The Rashtrapati Bhavan.'

In [21]:
Term.pop(14)

'Page last updated on:22-July-2022 15:58 PM'

In [22]:
Term.pop(14)

"Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat."

In [23]:
Term

['Term of Office:25 July, 2017 to 25 July, 2022',
 'Term of Office:25 July, 2012 to 25 July, 2017',
 'Term of Office:25 July, 2007 to 25 July, 2012',
 'Term of Office:25 July, 2002 to 25 July, 2007',
 'Term of Office:25 July, 1997 to 25 July, 2002',
 'Term of Office:25 July, 1992 to 25 July, 1997',
 'Term of Office:25 July, 1987 to 25 July, 1992',
 'Term of Office:25 July, 1982 to 25 July, 1987',
 'Term of Office:25 July, 1977 to 25 July, 1982',
 'Term of Office:24 August, 1974 to 11 February, 1977',
 'Term of Office:3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office:13 May, 1967 to 3 May, 1969',
 'Term of Office:13 May, 1962 to 13 May, 1967',
 'Term of Office:26 January, 1950 to 13 May, 1962']

In [24]:
print(len(Term))

14

In [25]:
data={"Name":Name,"Term":Term} # creating data frame

In [26]:
df=pd.DataFrame(data)

In [27]:
df

,Name,Term
0,Shri Ram Nath Kovind,"Term of Office:25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"Term of Office:25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"Term of Office:25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"Term of Office:25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"Term of Office:25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"Term of Office:25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"Term of Office:25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"Term of Office:25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"Term of Office:25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"Term of Office:24 August, 1974 to 11 February,..."
10,Shri Varahagiri Venkata Giri,"Term of Office:3 May, 1969 to 20 July, 1969 an..."
11,Dr. Zakir Husain,"Term of Office:13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"Term of Office:13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"Term of Office:26 January, 1950 to 13 May, 1962"

3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [68]:
#pip install html5lib

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [69]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [70]:
response = requests.get(url)

In [71]:
soup = BeautifulSoup(response.content,'html.parser')

In [72]:
table = soup.find('table',class_='table') #find table team ranking

In [73]:
#Empty list
teams=[]
matches=[]
points=[]
ratings=[]

rows=table.tbody.find_all('tr')
for row in rows:
    team_name=row.find('span',class_='u-hide-phablet').text.strip()
    teams.append(team_name)
    
    columns = row.find_all('td')
    matches_played = columns[1].text.strip()
    points_earned = columns[2].text.strip()
    rating = columns[3].text.strip()

    matches.append(matches_played)
    points.append(points_earned)
    ratings.append(rating)

In [74]:
data={'Team':teams,'Matches':matches,'Points':points,'Rating':ratings}

In [75]:
df=pd.DataFrame(data)

In [76]:
top_10_teams=df.head(10)
print(top_10_teams)

           Team           Matches Points Rating
0     Australia    Australia\nAUS     23  2,714
1      Pakistan     Pakistan\nPAK     20  2,316
2         India        India\nIND     33  3,807
3   New Zealand   New Zealand\nNZ     27  2,806
4       England      England\nENG     24  2,426
5  South Africa  South Africa\nSA     19  1,910
6    Bangladesh   Bangladesh\nBAN     27  2,520
7   Afghanistan  Afghanistan\nAFG     15  1,361
8     Sri Lanka     Sri Lanka\nSL     32  2,794
9   West Indies   West Indies\nWI     35  2,312

# b) Top 10 ODI Batsmen along with the records of their team andrating.

In [77]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [78]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [79]:
response = requests.get(url)

In [80]:
soup = BeautifulSoup(response.content, "html.parser")

In [81]:
table=soup.find('table',class_='table')

In [82]:
rows=table.find_all('tr')
#rows

In [83]:

players=[]
teams=[]
ratings=[]

#extract the data from table 
for row in rows[1:11]: # top 10 player 
    cells=row.find_all('td')
    player=cells[1].text.strip()
    team=cells[2].text.strip()
    rating=cells[3].text.strip()
    players.append(player)
    teams.append(team)
    ratings.append(rating)

In [84]:
data = {'player':players,'Team':teams,'Ratings':rating}

In [85]:
df = pd.DataFrame(data)

In [86]:
df

                  player Team Ratings
0  Rassie van der Dussen   SA     707
1           Fakhar Zaman  PAK     707
2            Imam-ul-Haq  PAK     707
3           Shubman Gill  IND     707
4           Harry Tector  IRE     707
5           David Warner  AUS     707
6            Virat Kohli  IND     707
7        Quinton de Kock   SA     707
8           Rohit Sharma  IND     707

# c) Top 10 ODI bowlers along with the records of their team andrating.

In [87]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [88]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [89]:
bowler_response=requests.get(url)
#response

In [90]:
bowler_soup=BeautifulSoup(bowler_response.text,'html.parser')

In [91]:
bowler_table=bowler_soup.find('table',class_='table')

In [92]:
bowler_row=bowler_table.find_all('tr')

In [93]:
bowlers=[]
teams=[]
ratings=[]

#extract the data from table 
    
for row in bowler_row[1:11]:
    columns=row.find_all('td')
    bowler=columns[1].text.strip()
    team=columns[2].text.strip()
    rating=columns[3].text.strip()
    bowlers.append(bowler)
    teams.append(team)
    ratings.append(rating)

In [94]:
bowler_data={'Bowler': bowlers,'Team':teams,'Rating':ratings}

In [95]:
df=pd.DataFrame(bowler_data)

In [96]:
df

             Bowler Team Rating
0    Josh Hazlewood  AUS    705
1    Mohammed Siraj  IND    691
2    Mitchell Starc  AUS    686
3        Matt Henry   NZ    667
4       Trent Boult   NZ    660
5        Adam Zampa  AUS    652
6       Rashid Khan  AFG    640
7    Shaheen Afridi  PAK    630
8  Mujeeb Ur Rahman  AFG    630
9     Mohammad Nabi  AFG    626

4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [97]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [98]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [99]:
response=requests.get(url)
#response

In [100]:
soup = BeautifulSoup(response.content,'html.parser')

In [101]:
table = soup.find('table',class_='table') #find table team ranking

In [102]:
#Empty list
teams=[]
matches=[]
points=[]
ratings=[]

rows=table.tbody.find_all('tr')
for row in rows:
    team_name=row.find('span',class_='u-hide-phablet').text.strip()
    teams.append(team_name)
    
    columns = row.find_all('td')
    matches_played = columns[1].text.strip()
    points_earned = columns[2].text.strip()
    rating = columns[3].text.strip()

    matches.append(matches_played)
    points.append(points_earned)
    ratings.append(rating)

In [103]:
data={'Team':teams,'Matches':matches,'Points':points,'Rating':ratings}

In [104]:
df=pd.DataFrame(data)

In [105]:
top_10_teams=df.head(10)
print(top_10_teams)

           Team           Matches Points Rating
0     Australia    Australia\nAUS     21  3,603
1       England      England\nENG     28  3,342
2  South Africa  South Africa\nSA     26  3,098
3         India        India\nIND     27  2,820
4   New Zealand   New Zealand\nNZ     28  2,688
5   West Indies   West Indies\nWI     29  2,743
6    Bangladesh   Bangladesh\nBAN     14    977
7     Sri Lanka     Sri Lanka\nSL     12    820
8      Thailand     Thailand\nTHA     12    806
9      Pakistan     Pakistan\nPAK     27  1,678

# b) Top 10 ODI Batsmen along with the records of their team andrating.

In [106]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [107]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [108]:
response = requests.get(url)

In [109]:
soup = BeautifulSoup(response.content, "html.parser")

In [110]:
table=soup.find('table',class_='table')

In [111]:
rows=table.find_all('tr')
#rows

In [112]:
players=[]
teams=[]
ratings=[]

#extract the data from table 
for row in rows[1:11]: # top 10 player 
    cells=row.find_all('td')
    player=cells[1].text.strip()
    team=cells[2].text.strip()
    rating=cells[3].text.strip()
    players.append(player)
    teams.append(team)
    ratings.append(rating)

In [113]:
data = {'player':players,'Team':teams,'Ratings':rating}

In [114]:
df = pd.DataFrame(data)

In [115]:
df

                player Team Ratings
0  Chamari Athapaththu   SL     595
1          Beth Mooney  AUS     595
2      Laura Wolvaardt   SA     595
3       Natalie Sciver  ENG     595
4          Meg Lanning  AUS     595
5     Harmanpreet Kaur  IND     595
6      Smriti Mandhana  IND     595
7         Ellyse Perry  AUS     595
8      Stafanie Taylor   WI     595
9       Tammy Beaumont  ENG     595

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [116]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [117]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

In [118]:
response = requests.get(url)
#response

In [119]:
soup = BeautifulSoup(response.content, "html.parser")

In [120]:
table=soup.find('table',class_='table rankings-table')

In [121]:
rows=table.find_all('tr')
#rows

In [122]:
players=[]
teams=[]
ratings=[]

#extract the data from table 
for row in rows[1:11]:
    cells=row.find_all('td')
    player=cells[1].text.strip()
    team=cells[2].text.strip()
    rating=cells[3].text.strip()
    
    players.append(player)
    teams.append(team)
    ratings.append(rating)

In [123]:
data = {'player':players,'Team':teams,'Ratings':rating}

In [124]:
df = pd.DataFrame(data)

In [125]:
df

             player Team Ratings
0   Hayley Matthews   WI     232
1    Natalie Sciver  ENG     232
2      Ellyse Perry  AUS     232
3    Marizanne Kapp   SA     232
4       Amelia Kerr   NZ     232
5     Deepti Sharma  IND     232
6  Ashleigh Gardner  AUS     232
7     Jess Jonassen  AUS     232
8     Sophie Devine   NZ     232
9          Nida Dar  PAK     232

5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data frame
i) Headline
ii) Time
iii) News Lin

In [180]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [181]:
url='https://www.cnbc.com/world/?region=world'

In [182]:
response=requests.get(url)
#response

In [183]:
soup=BeautifulSoup(response.content,"html.parser")

In [186]:
#find news
articles=soup.find_all("li",class_="LatestNews-item")
#articles

In [224]:
#Empty list 
headlines=[]
times=[]
links=[]

In [225]:
 # Extract the headline
for article in articles:
    headline=article.find("a",class_="LatestNews-headline").text.strip()
    headlines.append(headline)

In [226]:
#print(len(headlines))

30

In [227]:
# Extract the time
for article in articles:
    time=article.find("time",class_="LatestNews-timestamp").text.strip()
    times.append(time)

In [228]:
print(len(headlines))

30

In [231]:
# Extract the news link
for article in articles:
    link=article.find("a")["href"]
    links.append(link)

In [232]:
print(len(link))

102

data={"Headline": headlines,"Time": times,"News Link": links}

In [216]:
df = pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [203]:
df

,Headline,Time,News Link
0,Bet on these stocks to beat the Street earning...,35 Min Ago,/pro/
1,'Bitcoin Family' has moon cycle algorithm that...,56 Min Ago,https://www.cnbc.com/2023/07/11/bitcoin-family...
2,"Amazon charts its own course on A.I., leaning ...",56 Min Ago,/investingclub/
3,Grand jury that could soon decide on Trump cha...,57 Min Ago,https://www.cnbc.com/2023/07/11/trump-criminal...
4,Tesla settles class action Solar Roof lawsuit ...,1 Hour Ago,https://www.cnbc.com/2023/07/11/tesla-settles-...
5,Feds crack down on Bank of America but junk fe...,1 Hour Ago,https://www.cnbc.com/2023/07/11/feds-fine-bank...
6,Few patients continue weight loss drugs after ...,1 Hour Ago,https://www.cnbc.com/2023/07/11/weight-loss-dr...
7,"'After the war, they will be a member': Baltic...",1 Hour Ago,https://www.cnbc.com/2023/07/11/russia-ukraine...
8,The high yield on this 1-year CD just got even...,1 Hour Ago,/pro/
9,This Club tech stock is a big winner Tuesday a...,2 Hours Ago,/investingclub/
10,Nasdaq 100 to undergo rejiggering because a fe...,2 Hours Ago,https://www.cnbc.com/2023/07/11/nasdaq-100-to-...
11,Powerball jackpot hits $725 million. If you wi...,2 Hours Ago,https://www.cnbc.com/2023/07/11/heres-what-you...
12,Stocks making the biggest moves midday: Shutte...,2 Hours Ago,https://www.cnbc.com/2023/07/11/stocks-making-...
13,Credit Suisse gives its top stock picks for th...,2 Hours Ago,/pro/
14,11 U.S. cities where rent has fallen the most ...,2 Hours Ago,https://www.cnbc.com/2023/07/11/11-us-cities-w...
15,General Mills is paying this ag tech startup t...,2 Hours Ago,https://www.cnbc.com/2023/07/11/general-mills-...
16,Microsoft-Activision deal moves closer as judg...,2 Hours Ago,https://www.cnbc.com/2023/07/11/microsoft-acti...
17,Top tech analyst says Netflix has gotten ahead...,3 Hours Ago,/pro/
18,"How to answer 'tell me about yourself,' says C...",3 Hours Ago,https://www.cnbc.com/2023/07/11/how-to-answer-...
19,"Boeing delivers 60 airplanes in June, racks up...",3 Hours Ago,https://www.cnbc.com/2023/07/11/boeing-aircraf...
20,Apple's Mac market share jumped as PC sales fe...,3 Hours Ago,https://www.cnbc.com/2023/07/11/apples-mac-mar...
21,Amazon launches first U.S. challenge to EU con...,3 Hours Ago,https://www.cnbc.com/2023/07/11/amazon-launche...
22,Bank of America fined for consumer abuses incl...,3 Hours Ago,https://www.cnbc.com/2023/07/11/bank-of-americ...
23,PGA Tour officials defend LIV Golf deal in Sen...,3 Hours Ago,https://www.cnbc.com/2023/07/11/pga-tour-liv-g...
24,JPMorgan's top equity guru says avoid stocks a...,3 Hours Ago,/pro/
25,Shutterstock shares pop as company expands par...,3 Hours Ago,https://www.cnbc.com/2023/07/11/shutterstock-s...
26,Astranis to bring satellite internet to the Ph...,4 Hours Ago,https://www.cnbc.com/2023/07/11/astranis-satel...
27,"Be cautious buying A.I. ETFs, Bank of America ...",4 Hours Ago,/pro/
28,"Spend better, not less: Duke expert on his top...",4 Hours Ago,https://www.cnbc.com/2023/07/11/duke-expert-da...
29,Open A.I. rival Anthropic debuts new A.I. chat...,4 Hours Ago,https://www.cnbc.com/2023/07/11/anthropic-an-o...

6.Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [139]:
#pip install beautifulsoup4 pandas

In [140]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [141]:
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [142]:
response = requests.get(url)
response

In [161]:
soup=BeautifulSoup(response.content, "html.parser")
#soup

In [158]:
#Empty List 
paper_titles=[]
authors=[]
published_dates=[]
paper_urls=[]

In [165]:
article_cards=soup.find_all("li", class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs")
#article_cards

In [163]:
#Pater titles
for card in article_cards:
    title=card.find("h2",class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg").text.strip()
    paper_titles.append(title)

In [167]:
print(len(paper_titles))

24

In [168]:
# Authors
for card in article_cards:
    author_tags=card.find_all("span", class_="sc-1w3fpd7-0 dnCnAO")
    author_names=[author.text.strip() for author in author_tags]
    authors.append(", ".join(author_names))

In [169]:
print(len(authors))

24

In [170]:
# Publishdate
for card in article_cards:
    published_date=card.find("span", class_="sc-1thf9ly-2 dvggWt").text.strip()
    published_dates.append(published_date)

In [171]:
print(len(authors))

24

In [172]:
# Paper URL
for card in article_cards:
    paper_url = card.find("a")["href"]
    paper_urls.append(paper_url)

In [173]:
print(len(paper_urls))

24

In [174]:
data = {
    "Paper Title": paper_titles,
    "Authors": authors,
    "Published Date": published_dates,
    "Paper URL": paper_urls
}

In [175]:
df=pd.DataFrame(data)

In [177]:
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

7) Write a python program to scrape mentioned details from dineout.co.inand make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [29]:
url="https://www.dineout.co.in/delhi-restaurants"

In [33]:
response=requests.get(url)
response

In [32]:
soup = BeautifulSoup(response.content, "html.parser")
#soup

In [34]:
#Empty list for store
restaurant_names=[]
cuisines=[]
locations=[]
ratings=[]
image_urls=[]

In [35]:
restaurant_details=soup.find_all("div", class_="restnt-detail-wrap")

In [36]:
# Extract the restaurant name
for details in restaurant_details:
    restaurant_name=details.find("a",class_="restnt-name ellipsis").text.strip()
    restaurant_names.append(restaurant_name)

In [37]:
#Extract the restaurant name 
for details in restaurant_details:
    cuisine = details.find("span", class_="double-line-ellipsis").text.strip()
    cuisines.append(cuisine)

In [38]:
#Extract the restaurant location 
for details in restaurant_details:
    location = details.find("div", class_="restnt-loc ellipsis").text.strip()
    locations.append(location)

In [39]:
for details in restaurant_details:
    rating = details.find("div", class_="restnt-rating").text.strip()
    ratings.append(rating)

In [40]:
#Create data frame 
data = {
        "Restaurant Name": restaurant_names,
        "Cuisine": cuisines,
        "Location": locations,
        "Ratings": ratings,
       }

In [41]:
df=pd.DataFrame(data)

In [42]:
df

,Restaurant Name,Cuisine,Location,Ratings
0,Local,"₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Scindia House,Connaught Place, Central Delhi",4.3
1,Tamasha,"₹ 2,000 for 2 (approx) | Continental, Asian, I...","Connaught Place, Central Delhi",4.3
2,My Bar Square,"₹ 2,000 for 2 (approx) | Finger Food, Chinese,...","Connaught Place, Central Delhi",4.3
3,Station Bar,"₹ 1,100 for 2 (approx) | Italian, Chinese, Nor...","F-Block,Connaught Place, Central Delhi",4.3
4,Ministry Of Beer,"₹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",4.3
5,Warehouse Cafe,"₹ 2,500 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4.3
6,Openhouse Cafe,"₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Connaught Place, Central Delhi",4.3
7,Connaught Club House,"₹ 1,800 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3
8,Unplugged Courtyard,"₹ 2,500 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4.3
9,The Junkyard Cafe,"₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3
10,Lord of the Drinks,"₹ 2,500 for 2 (approx) | Chinese, North Indian...","Connaught Place, Central Delhi",4.3
11,Berco's,"₹ 1,300 for 2 (approx) | Chinese, Thai","Connaught Place, Central Delhi",4.3
12,QBA,"₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3
13,38 Barracks,"₹ 2,700 for 2 (approx) | North Indian, Chinese...","M-Block,Connaught Place, Central Delhi",4.3
14,The G.T. Road,"₹ 2,000 for 2 (approx) | North Indian","M-Block,Connaught Place, Central Delhi",4.3
15,Ardor 2.1 Restaurant and Lounge,"₹ 2,000 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4.3
16,Dasaprakash,"₹ 800 for 2 (approx) | North Indian, South Ind...","Connaught Place, Central Delhi",4.3
17,Cafe High 5,"₹ 1,700 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3
18,Pind Balluchi,"₹ 1,400 for 2 (approx) | North Indian","Regal Cinema Complex,Connaught Place, Central ...",4.3
19,Somewhere Restaurant & Bar,"₹ 1,000 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.3
20,The Imperial Spice,"₹ 3,000 for 2 (approx) | North Indian, Chinese...","M-Block,Connaught Place, Central Delhi",4.3